.logo {
    text-decoration: none;
    font-weight: 600;
}

.info > a,
.nav > .nav-item > a,
.nav > li > a {
    text-decoration: none;
}

#realTimeClock {
    padding-left: 5%;
    font-size: 25px;
}

.log {
    font-size: 17px;
    border-radius: 12px;
    color: white;
    border: none;
    padding: 2px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
}

.log span {
    border-radius: 10px;
    padding: 5px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.4s;
}

.card {
    border-radius: 10px;
}